name: publish
on:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  deploy:
    runs-on:
      - X64
    steps:
      - uses: actions/checkout@v3
      - run: devbox run make deploy-docs
